body{

font-family:Arial, Helvetica, sans-serif;

}

.card{

border:none;

border-radius:15px;

}

.card-header{

font-size:20px;

font-weight:bold;

}

table{

text-align:center;

}

footer{

margin-top:60px;

}
